.main_layout{
    width: 900px;
    height: 500px;
    background-color: green;
    margin: 0 auto;
}
.header{
    width: 900px;
    height: 500px;
    background-color: gray;
}
.image{
    width: 700px;
    height: 500px;
   float: left;
}
.image img{
    width: 700px;
    height: 500px;
   float: left;
}
.hello{
    width: 200px;
    height: 500px;
   float: left;
   text-align: center;
   font-size: 40px;
   color: rgb(252, 230, 35);
   line-height: 100px;
}