.main_layout{
    width: 960px;
    height: 800px;
    background-color: green;
    margin: 0 auto;
}
.header{
    width: 960px;
    height: 150px;
    background-color: gray;
}
.image{
    width: 200px;
    height: 150px;
   float: left;
}
.image img{
    width: 200px;
    height: 150px;
   float: left;
}
.hello{
    width: 760px;
    height: 150px;
   float: left;
   text-align: center;
   font-size: 40px;
   color: white;
}